<h2>Providers</h2>

<div class="row mb-4">
  <div class="col-md-1 offset-md-11">
    <%= link_to 'New', new_provider_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="row m-0">
          <th class="d-inline-block col-1">#</th>
          <th class="d-inline-block col-3">Name</th>
          <th class="d-inline-block col-6">Description</th>
          <th class="d-inline-block col-1"></th>
          <th class="d-inline-block col-1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'provider', collection: @providers %>
      </tbody>
    </table>
  </div>
</div>
