<h2>Trackings for <%= @provider.name %></h2>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="row m-0">
          <th class="d-inline-block col-4">Name</th>
          <th class="d-inline-block col-4">Code</th>
          <th class="d-inline-block col-3">Validated</th>
          <th class="d-inline-block col-1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'tracking', collection: @trackings %>
      </tbody>
    </table>
  </div>
</div>
